<h1>Secrets</h1>

<% @secrets. each do |sec| %>
<div class="">
    <p>Secret #<%= sec.id %>: <%= sec.content %></p>
    <p><%= sec.likes.count %> likes</p>
    <% if sec.users_liked.include? current_user %>
    <form action="/likes" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="secret_id" value="<%= sec.id %>">
        <input type="submit" value="Unlike">
    </form>
    <% else %>
    <form action="/likes/create" method="get">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="secret_id" value="<%= sec.id %>">
        <input type="submit" value="Like">
    </form>
    <% end %>
    <% if sec.user_id == current_user.id%>
    <form action="/secrets/<%= sec.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete Secret">
    </form>
    <% end %>
</div>
<% end %>
