<h1>Write the name - <%= @user.name %></h1>

<form action="/secrets/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="secret[user_id]" value="<%= @user.id %>">
    <textarea name="secret[content]" rows="8" cols="80"></textarea>
    <input type="submit" value="Create Secret">
</form>

<a href="/users/<%= @user.id %>/edit">Edit Profile</a>

<form action="/users/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Delete User">
</form>

<div class="secrets_all">
    <div class="secrets_display">
        <h1>My Secrets</h1>
        <% @secrets.each do |sec| %>
        <div>
            <p>Secret #<%= sec.id %>: <%= sec.content %></p>
            <p><%= sec.likes.count %> likes</p>
            <form action="/secrets/<%= sec.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="user_id" value="<%= @user.id %>">
                <input type="submit" value="Delete Secret">
            </form>
        </div>
        <% end %>
    </div>
    <div class="secrets_liked">
        <h1>Secrets Liked</h1>
        <% @secrets_liked.each do |sec_lik| %>
        <div>
            <p>Secret #<%= sec_lik.id %>: <%= sec_lik.content %></p>
            <p><%= sec_lik.likes.count %> likes</p>
        </div>
        <% end %>
    </div>

</div>
