<!DOCTYPE html>
<html>
  <head>
    <title>SecretsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">
  </head>

  <body>
      <% if current_user %>
        <form action='/sessions' method='post'>
          <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Log Out'>
        </form>
        <a href="/users/<%= session[:user_id] %>">My profile</a>
      <% end %>
      <a href="/secrets">Secret's wall</a>
    <%= yield %>
  </body>
</html>
