<div class="">
    <h2>Edit your Event</h2>
    <form action="/events/<%= params[:id] %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <p>Name: <input type="text" name="event[name]" value="<%= @event.name %>"></p>
        <p>Date: <input type="date" name="event[date]" value="<%= @date %>"></p>
        <p>Location: <input type="text" name="event[city]" value="<%= @event.city %>"><input type="text" name="event[state]" value="<%= @event.state %>"></p>
        <input type="submit" value="Edit Event">
    </form>
</div>
