<!DOCTYPE html>
<html>
  <head>
    <title>EventsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in_user %>
        <p>Welcome <%= logged_in_user.first_name %></p>
        <a href="/sessions/destroy">Logout</a>
    <% end %>
    <%= yield %>
  </body>
</html>
