<h1>Listing Products</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
    </tr>
    <% @products.each do |a| %>
    <tr>
        <td><%= a.name %></td>
        <td><%= a.description %></td>
        <td>$<%= a.pricing %></td>
        <td><a href="/products/<%= a.id %>">Show</a></td>
        <td><a href="/products/<%= a.id %>/edit">Edit</a></td>
        <td>
            <form action="/products/<%= a.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
    <% end %>
</table>

<a href="/products/new">New Product</a>
